.gameport {
    background-color: rgb(97, 180, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameport > div {
    display: flex;
    justify-content: center;
}
.btn {
    margin: 10px;
    width: 140px;
}
.chat {
    display: block !important;
    overflow: scroll;
    margin: 20px;
    padding-bottom: 25px;
    background-color: white;
    height: 100px;
    min-width: 90%;
    text-align: left;
}