<div id="loginContainer">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" [(ngModel)]="loginUser.username" name="username" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="loginUser.password" name="password" class="form-control" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <small class="text-muted">Not registered? Register <a routerLink="/register">here</a>.</small>
    </form>
</div>
