#loginContainer {
    max-width: 350px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.05);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 10px;
}
h1 {
    font-family: 'Bangers', cursive;
}