<div>
  <!--
  <h2>Welcome, {{ user.username }}!</h2>
  <div class="uvCont">
    <div class="uvName">{{ user.username }}</div>
    <div class="uvHP"></div>
    <div class="grid-container">

        
        <div *ngFor="let i of [0,1,2,3,4,5]" [ngClass]="'item' + (i+1)">
          <div class="cell" (click)="selectedCell = (i+1)" [class.activeCell]="selectedCell === (i+1)"></div>
        </div>

        <div class="item7">
          <img src="assets/stickman.png" alt="stickman" />
        </div>

    </div>
  </div>
-->
</div>
